footer{
    background-color: rgba(126, 122, 121, 0.781);
    font-style: italic;
    font-weight: 500;
    height: 5vh;
    min-height: 10vh;
    max-height: 150vh;
    padding-top: 2.5em;
       section.redes{ 
    font-size: large;
    text-align: center;
    color: rgb(255, 253, 253);
    
}
}