main{

    section.bienvenidos{
        color: rgb(5, 5, 5);
        font-style: italic;
        font-weight: 500;
        display: grid;
        
        grid-template-areas: 
        "equipo texto"
        "equipo texto";
    
        grid-template-columns: 1fr 1fr;
           .texto{
            grid-area: texto;
            margin: 2px;
            padding-top: 2.5em;
                .equipo{
                grid-area: equipo;
                width: 100%;
                height: auto;
                margin: 1em;
                padding-top: 1em;
            }
        
        }

    }
}