header { 
    background-color: rgba(126, 122, 121, 0.781);
    margin-top: 0em;
    padding-top: 0em;
    text-align: center;
    height: 30vh;
    position: sticky;
    top: 0em;
     
       .logo{ 
        min-height: 15vh;
        max-height: 10vh;

           section.menu{ 
            font-weight: 500;
            padding: 2em;
            text-align: center;
            font-size: large;
            font-style: italic;
            color: rgb(255, 253, 253);
            list-style-type:none;

                nav ul li {
                display: inline-block;

                      a {
                      font-weight: 500;
                      text-align: right;
                      font-size: large;
                      font-style: italic;
                      color: rgb(255, 253, 253);
                      list-style-type:none;
                    }
                }

            }

        }
}